<mat-card class="project-card">
  <mat-card-header>
    <mat-card-title>
      My great project
    </mat-card-title>

    <mat-card-subtitle>
      100000000$
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://media.istockphoto.com/vectors/romantic-creative-beautiful-minimal-greeting-card-poster-vector-id1127873497">

  <mat-card-content>

    <div>Description of our great project</div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="accent">LIKE</button>
  </mat-card-actions>
</mat-card>
