<div style="height: 100vh; display: flex; flex-direction: column; justify-content: center">

  <div style="display: flex; flex-direction: row; justify-content: center">
    <h1>Войдите через социальную сеть</h1>
  </div>

  <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px">
    <a href="http://localhost:4200/authentication/by/facebook">
      <img src="../../assets/facebook.png" width="100px"
           style="margin-right: 10px">
    </a>
    <a href="http://localhost:4200/authentication/by/google">
      <img src="../../assets/google.png" width="100px">
    </a>
  </div>
</div>
